<div class="container-fluid mt-3 watchlist-container">
  <div class="d-flex justify-content-start align-items-center mb-3 ps-3">
    <h4>My Containers</h4>
    <div class="ps-3">
      <button
        class="btn btn-primary p-1"
        type="button"
        (click)="openAddContainerDialog()"
        data-toggle="modal"
        data-target="#exampleModalCenter"
      >
        Add Container
      </button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover text-center">
      <thead class="thead-dark">
        <tr>
          <th>Container</th>
          <th>Status</th>
          <th>Holds</th>
          <th>Size Type</th>
          <th>Line</th>
          <th>Voyage</th>
          <th>Vessel Code</th>
          <th>Origin</th>
          <th>Destination</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Display "No Records Found" if the list is empty -->
        <tr *ngIf="containers.length === 0">
          <td colspan="10" class="text-center text-muted">No records found</td>
        </tr>

        <!-- Loop through the container list -->
        <tr *ngFor="let container of containers">
          <td>{{ container.containerInfo.containerNumber }}</td>
          <td>{{ container.containerInfo.containerStatusDesc }}</td>
          <td>{{ container.containerFeesInfo.isFeesPaid ? "No" : "Yes" }}</td>
          <td>{{ container.containerInfo.containerType }}</td>
          <td>{{ container.line }}</td>
          <td>{{ container.vesselInfo.name }}</td>
          <td>{{ container.vesselInfo.code }}</td>
          <td *ngFor="let port of container.portTerminals">
            {{ port.portName }}
          </td>
          @if (container.containerFeesInfo.isFeesPaid) {
          <td>
            <button class="btn btn-success p-1" disabled>Paid</button>
          </td>
          } @else {
          <td>
            <button
              class="btn btn-primary p-1"
              (click)="navigateToCheckout(container)"
            >
              Pay Now
            </button>
          </td>
          }
        </tr>
      </tbody>
    </table>
  </div>

  <add-container
    *ngIf="showModal"
    (containerAdded)="handleContainerAdded($event)"
  ></add-container>
</div>
