<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Container Watchlist</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login"
              >Login</a
            >
          </li>
          <li>
            <button
              type="button"
              class="btn btn-primary"
              aria-current="page"
              (click)="onRegisterClick()"
            >
              Register
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
