.landing-page {
  background-image: url("https://cdn.pixabay.com/photo/2021/09/16/21/27/container-ship-6631117_1280.jpg");
  background-size: cover;
  background-position: center;
  height: 85vh;
  position: relative;
}

.landing-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
  z-index: 1;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.btn {
  margin-top: 20px;
  font-size: 1.2rem;
}

h1 {
  font-size: 3rem;
}

p.lead {
  font-size: 1.5rem;
}
